.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #dddddd;
  color: black;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
}

.sidebarTitle {
  padding-top: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

.navItem {
  color: black !important;
  padding: 12px 15px;
  margin-bottom: 50px;
  height: 100px;
  width: 100%;
  transition: background 0.3s, color 0.3s;
  font-size: 25px;
  display: flex;
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text and icon */
  gap: 10px;

  flex-direction: row;
}


/* Hover Effect */
.navItem:hover {
  background-color: #4467C4;
  color: white !important;
}

/* Active Page Effect */
.navItem.active {
  background-color: #4467C4; /* Light blue background for active item */
  color: white !important; /* Ensure text color is white when active */
}

/* Ensure icons also turn white when active or hovered */
.navItem:hover .navIcon,
.navItem.active .navIcon {
  color: white !important;
}

.navIcon {
  color: black;
}

.logout {
  margin-top: auto;
  color: black !important;
}
