@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../../assets/cybersecurityBackground.png") no-repeat center center/cover;
    position: relative;
    color: white;

    font-family: 'Poppins', sans-serif;

  }
  
  .auth-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  }
  
  .auth-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  .auth-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .auth-footer {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }
  
  .auth-link {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .auth-link:hover {
    color: #0d6efd;
  }
  